
<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalConfirmDelete" class="modal fade show" id="modalConfirmDelete" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete Category?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="#" type="button" class="btn btn-danger btnCategoryConfirmDelete">Delete</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalArticle(action)" class="modal fade show" id="modalArticle" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="${action}">Article</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" th:action="@{/admin/articles}" th:object="${article}" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Category</label>
                            <select class="custom-select" th:field="*{category.id}">
                                <option disabled="disabled"
                                        selected="selected"
                                        value=0>Choose category...</option>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input th:field="*{title}" type="text" class="form-control" placeholder="Enter title...">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea th:field="*{description}" class="form-control"
                                      rows="3"
                                      placeholder="Enter description..."></textarea>
                        </div>
                        <div class="form-group">
                            <label>Thumbnail</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file">
                                    <label class="custom-file-label">Choose file...</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalMessage(message)" class="modal fade show" id="modalMessage" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="messagePassbyJS" th:text="${message}"></p>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="modalUser" class="modal fade show" id="modalUser" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="post" th:action="@{/admin/users}" th:object="${user}" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group">
                            <label>First Name</label>
                            <input th:field="*{firstName}" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input th:field="*{lastName}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input th:field="*{email}" class="form-control">
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

